@page "/personal"
@using Model
@using Microsoft.EntityFrameworkCore
@inject PracticeContext DB

<h3>Персонал</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Квалификация</th>
            <th scope="col">Паспортные данные</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var Personal in Personals)
        {
        <tr>
            
            <th scope="row">@Personal.Id</th>
            <td>@Personal.FirstName</td>
            <td>@Personal.Lastname</td>
            <td>@Personal.Qualification</td>
            <td>@Personal.PassportData</td>
        </tr>
        }
    </tbody>
</table>
@code {
    List<Personal> Personals = new();
    protected override async Task OnInitializedAsync()
    {
        Personals = DB.Personals.ToList();
    }
}